:root {
    --primary-dark: black;
    --primary-light: white;
    --secondary-light: #cfcfcf;
    --secondary-dark: gray;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-dark);
    background-color: var(--primary-light);
    overflow-x: hidden;
}

h1 {
    line-height: 1.2;
}

button,
input {
    width: 100%;
    border: none;
    background-color: var(--primary-light);
    cursor: pointer;
    font: inherit;
}

/* HEADER */
.header {
    padding: 30px 0;
    background-color: var(--primary-dark);
    margin: auto auto ;
}

.header-title {
    text-align: center;
    font-size: 2rem;
    color: var(--primary-light);
}

/* MAIN */
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: 20px auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 30px;
    width: 200px;
}

button {
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

button.active {
    background-color: var(--secondary-dark);
    color: var(--primary-light);
}

button,
input[type='color'] {
  transition: transform 0.1s ease-in-out;
}

button:hover,
input[type='color']:hover {
    background-color: var(--secondary-light);
}

input[type='color'].active {
    transition: transform 0.1s ease-in-out;
    transform: scale(1.1);
}

input[type='color'] {
    border: none;
    width: 80px;
    height: 80px;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.size-value {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

input[type='range'] {
    -webkit-appearance: none;
    background-color: var(--primary-light);
}

input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    border: 1px solid var(--primary-dark);
    border-radius: 25px;
    background: var(--secondary-light);
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin-top: -8px;
    background: var(--primary-dark);
}

.grid {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: var(--primary-light);
    border: 1px solid var(--primary-dark);
}

.grid-element {
    border: 1px solid var(--secondary-light);
    user-select: none;
}

/* FOOTER */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

.fa-github {
    color: var(--primary-light);
    font-size: 2rem;
    margin: 0 12px;
    transition: transform 0.3s;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}